<!DOCTYPE html>
<html>
  <head>
    <title>Preview</title>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body class="bg-canvas min-h-screen flex items-center justify-center p-12">
    <%= yield %>
  </body>
</html>
